<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'main.css'%}">
    <title>Home</title>
</head>
<body>
    <div class='main-grid'>
        <div class="navbar-right">
            <ul>
                <!--These logos are taken from Tachiyomi, I just like their aesthetic and modeling it like theirs-->
                <li><img style="width: 50px; height:50px;" src="{%static 'resources/logo.png'%}"></li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
            </ul>
            <ul>
                <li>1</li>
                <li>2</li>
            </ul>
        </div>
        <div class="greeting-header">
            <h1>  
                Good Evening
            </h1>
        </div>

        <div class="continue-header">
            <h1>  
                Continue Reading
            </h1>
        </div>
        

    </div>
</body>
</html>