<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'main.css'%}">
    <title>Home</title>
</head>
<body>
    <div class='main-grid'>
        <div class="navbar-right">
            <ul>
                <!--These logos are taken from Tachiyomi, I just like their aesthetic and modeling it like theirs-->
                <li><a href="/"><img style="width: 50px; height:50px;" src="{%static 'resources/logo.png'%}"></a></li>
            </ul>
            <ul>
                <li>1</li>
                <li>2</li>
            </ul>
        </div>
        <div class="greeting-header">
            <h1>
                Latest Releases
            </h1>
            <div class="title-container">
                {% for title, cover, url in series_data %}
                <div class="series-handler">
                    <a href="{% url 'titlepage' %}?url={{ url }}&title={{ title|urlencode }}&cover={{ cover|urlencode }}">
                        <img class="cover-image" src="{{ cover }}">
                        <h3>{{ title }}</h3>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>